# Ignore Visual Studio temporary files
.vs/
*.user
*.suo

# Ignore build output
Debug/
Release/
x64/
x86/
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.idb

# Ignore logs and temp
*.log
*.tlog
*.tmp

# Ignore project-specific user files
*.vcxproj.user
